td {
  text-align: center;
  font-size: 30px;
}
td:first-child {
  border-left: solid;
}
td:nth-child(3n) {
  border-right: solid;
}
tr:first-child {
  border-top: solid;
}
tr:nth-child(3n) td {
  border-bottom: solid;
}
.input {
  padding: 0 0 0 0;
  width: 59px;
  font-size: 52px;
  text-align: center;
  border-style: none;
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 0 0 20px;
  width: 600px;
  height: 45px;
}
.solve {
  font-size: 25px;
  background-color: rgb(236, 123, 142);
}

.reset {
  font-size: 25px;
  background-color: rgb(103, 213, 189);
}

.hide {
  display: none;
}

#grid {
  width: 600px;
  height: 600px;
  margin: 50px 0 0 20px;
}
